/* CSS BEM methodology is used throughout this prototype as I find it lends itself
well to thinking about the composition of components. */

html {
  font-size: 10px;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #ffffff;
}

* { 
  box-sizing: border-box;
}

.inner {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
  padding-left: 2%;
  padding-right: 2%;
}

/* 
  Helpful utility class to make content available to screen readers when
  semantically makes sense or provides context 
*/
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  border: 0;
}